sites/default/settings.php
/var/www/vibio/src/sites/default/settings.php
settings.php
modules/vibio/facebook/compare_with_facebook_module_fb
WELCOME_TO_DEV
WELCOME_TO_MESH
WELCOME_TO_*
modules/memcache
modules/memcache/*
sites/default/files
.htaccess
nbproject
robots.txt
*~
tags
*.sw[a-zA-Z0-9]
