
/*Popup after earning a badge*/
#badge_alert_container_earned {
	text-align:center;	
}
#badge_alert_container_earned h5{
	font-size: 28px;
	margin: 28px 0 28px;
}
#badge_alert_container_earned div#badge_alert_footer{
	text-align: right;
	font-size: 13px;
	margin: 0 13px 25px 0;
}
#badge_alert_container_earned .badge_alert_single {
	min-height: 150px;
	text-align: center;
}
#badge_alert_container_earned .badge_alert_single div.badge_title {
	font-weight: bold;
	font-size: 15px;
}

#badge_alert_container .badge_alert_single img.badge_image {
	max-height: 150px;
	margin-top: 10px;
}

#badge_alert_container .badge_alert_single div.badge_title {
	font-weight: bold;
	height: 25px;
	margin: 5px 0 10px;
	font-size: 15px;
}

#badge_alert_container .badge_alert_single {
	min-height: 150px;
	float: left;
	width: 120px;
	text-align: center;
}

#badge_alert_container .badge_alert_badge {
	display: inline;
	margin-right: 15px;
	height: 80px;
}

#badge_alert_container .badge_alert_badge img.badge_image {
	max-height: 80px;
}

.badge_list_badge {
	padding: 5px 0;
	border-bottom: 1px solid #CCCCCC;
}

.badge_list_badge .badge_image_container {
	float: left;
	margin-right: 15px;
}

.badge_list_badge .badge_info {
	float: left;
	margin-top: 25px;
	color: #556270;
}
.badge_list_badge .badge_info h1{
	font-size: 15px;
	font-weight: bold;
	margin: 0
}

.badge_list_badge img.badge_image {
	max-width: 105px;
}
#block-block-20, #block-block-21{
	text-align:center
}
