/* override collections page Search tool -Keith */
.view-user-collections .view-filters {
	display: none;
}
/*.user-collection-preview td { width: 360px; }
 .user-collection-preview .collection_list_image img { max-width: 63px; }
 .collection-preview-boxshadow { float: left; box-shadow: 3px 3px 3px 1px #ccc; padding: 3px; width: 335px; }
 .collection_list_collection .collection_image { width: inherit; }
 .collection_list_collection .collection_image img { max-width: 200px; }
 .collection_list_collection .collection_summary { width: 518px; }
 */
.view-user-collections div.view-content {
	margin-top: 6px;
	position: relative;
}
.collection_list_collection .collection_image {
	margin-right: 10px;
	padding: 5px 0px 2px 5px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
}
.collection_list_collection .collection_image img {
	max-width: 77px;min-width 100px;
	border: 1px solid #CCCCCC;
}
.collections_view_header {
	position: absolute;
	right: 22px
}
.collection_list_collection {
	margin-bottom: 25px;
}
.collection_image {
	float: left;
	margin-right: 10px;
	width: 85px;
}
.collection_summary {
	float: left;
	width: 595px;
}
.collection_summary h3 {

	margin: 0;
}
.collection_summary p {

}
.collection_summary span {

}
.collection_summary span.collection_item_count {
	width: 190px;
}
.collection_summary span.manage_collection_link {
	margin-left: 10px;
}
.collection_preview {
	width: 100%;
}
.collection_preview_init {
	height: 16px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
.collection_preview_init span:hover {
	text-decoration: underline
}
.collection_preview_init img {
	margin-right: 5px;
}
.collection_preview_init.expanded {
}
.collection_preview_init:hover {
	cursor: pointer;
}
.collection_preview_loading {
	display: none;
	text-align: center;
}
.collection_preview_items {
	display: none;
}
.collection_list_image {
	float: left;
	margin-right: 10px;
}
.collection_list_image img {
	max-height: 100px;
	border: 1px solid #CCCCCC;
}
.collection_list_item_summary {
	border-bottom: 1px solid #CCCCCC;
	margin: 5px 10px 5px 0px;
	min-height: 110px;
	position: relative
}
.collection_list_item_summary div.not_for_sale img{
	max-width:90px
}
.collection_list_item_summary div.not_for_sale{
	position: absolute;
	bottom: 11px;
	right: 1px;
}
.collection_list_item_summary span.item_price {
	width: 60px;
}
.user-collection-preview h5, #collection_sidebar .collection_sidebar_collection h5 {
	margin: 0;
	font-size: 13px;
}
.user-collection-preview span {
	color: #404f5a;
	font-size: 12px;
}
.user-collection-preview td {
	width: 365px;
	vertical-align: top;
}
td.col-1 {
}
td.col-2 {
	padding-left: 10px;
	border-left: 1px solid #CCCCCC;
}
.minisocialbar div {
}
.user-collection-preview tr {
	height: 60px;
}
.user-collection-preview tr.row-last {
	height: auto;
}
.collection_categories {
	
}
.item_updated {
	display: none;
}
#collection_main, #collection_sidebar {
}
#collection_main {
}
#collection_main .collection_summary {
	width: 400px;
}
#collection_sidebar {
	display: none
	/*Hideing the side bar*/
}
#collection_sidebar h5 {
	margin: 10px 0 0;
}
.collection_sidebar_collection {
	margin-top: 25px;
	width: 135px;
}
.collection_sidebar_collection_image {
	float: left;
	margin-right: 5px;
}
.collection_sidebar_collection_image img {
	max-width: 80px;
}
.collection_sidebar_collection_items {
	float: left;
}
.collection_sidebar_collection_items img {
	display: block;
	margin-bottom: 2px;
	max-height: 25px;
	max-width: 50px;
}
#block-collection-random_collection {
	background: #F6F6F6 url(/themes/vibio/images/showcase.png) no-repeat 5px 0;
	padding: 0 16px;
	margin-bottom: 0;
	min-height: 234px;
}
#block-collection-random_collection h2 {
	padding: 10px 0;
}
/*Background Image*/

#block-collection-random_collection .content {
}
#block-collection-random_collection .content > div {
	line-height: 15px;
}
#block-collection-random_collection .collection_image {
	float: none;
	margin: 0;
	width: auto;
	padding-top: 10px;
	text-align: center;
}
#block-collection-random_collection .collection_image img {
	border: 1px solid #CCC;
	background: #FFFFFF;
	padding: 5px;
	max-height: 115px;
	max-width: 115px;
}
#block-collection-random_collection .collection_info {
}
#block-collection-random_collection .collection_owner {
	padding-top: 6px;
}
#block-collection-random_collection .collection_owner a, #block-collection-random_collection .collection_title a {
	font-size: 15px;
}
#block-collection-random_collection .collection_title a, #block-collection-random_collection .collection_link a {
	font-size: 13px;
}
#block-collection-random_collection .collection_title a{
	color:#106F93;
}
#block-collection-random_collection .collection_title a:hover{
	color:#00AEF0;
}
#block-collection-random_collection .collection_link a {
	font-size: 12px;
}

#block-collection-random_collection .collection_date_added {
	font-size: 12px;
	margin-top: 10px;
}
/*Bottom Sidebar*/
.region-sidebar-first .rounded_content {
}
.heartbeat-messages-wrapper {
	margin-top: 25px;
}
#block-heartbeat-connectedheartbeat.block {
	background: #FFF url(/themes/vibio/images/sidebar_seperator.png) no-repeat scroll 6px 41px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
}
#block-heartbeat-connectedheartbeat {
	padding: 12px 15px 15px;
}
.beat-item {
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.heartbeat-pic-in-block img {
	height: 32px;
	width: 32px;
	border: 1px solid #CCC;
	float: left;
	padding: 5px;
	border: solid 1px #CCC;
	margin-right: 7px;
}
div#block-collection-random_collection .collection_item_count ,  div#block-collection-random_collection .collection_description ,
div#block-collection-random_collection .collection_categories,  div#block-collection-random_collection .collection_date_added,
div#block-collection-random_collection .collection_link{
	display:none;
}
