.fb_dialog {
	display: none;
}

.fb_popup #vibio_dialog {
	padding: 0;
}

.fb_header {
	background: #3B5998;
	padding: 5px 10px;
}

.fb_body {
	padding: 10px;
}

.fb_share_params {
	display: none;
}

.fb_login_button:hover {
	cursor: pointer;
}

.fb_share_container {
	float: left;
	margin-left: 10px;
}

.fb_ff_message {
	margin-bottom: 10px;
}

.fb_ff_message .fb_message {
	float: left;
	width: 500px;
}

.fb_ff_message .fb_link {
	float: right;
}

#block-fb-fb_login {
	margin-top: 10px;
}

#block-fb-fb_login .fb_login {
	text-align: center;
	margin-top: 10px;
}
