/* $Id: forms.css,v 1.3 2009/08/12 08:37:42 johnalbin Exp $ */

/**
 * @file
 * Form Styling
 */

.form-item, .form-checkboxes, .form-radios/* Wrapper for a form element (or group of form elements) and its label */ {
	margin: 1em 0;
}
.form-item input.error, .form-item textarea.error, .form-item select.error/* Highlight the form elements that caused a form submission error */ {
	border: 1px solid #c00 !important;
}
.form-item label/* The label for a form element */ {
	display: block;
	font-weight: bold;
}
.form-item label.option/* The label for a radio button or checkbox */ {
	display: inline;
	font-weight: normal;
}
.form-required/* The part of the label that indicates a required field */ {
	color: #c00;
}
.form-item .description/* The descriptive help text (separate from the label) */ {
	font-size: 0.85em;
}
.form-checkboxes .form-item, .form-radios .form-item/* Pack groups of checkboxes and radio buttons closer together */ {
	margin: 0.4em 0;
}
.form-submit/* The submit button */ {
}
.container-inline div, .container-inline label/* Inline labels and form divs */ {
	display: inline;
}
.tips/* Tips for Drupal's input formats */ {
}
/*
 * Search (search-theme-form.tpl.php)
 */
#search-box/* Wrapper for the search form */ {
	float: left;
	margin-left: 10px;
	width: 285px;
}
#search {
	position: relative;
	z-index: 0;
}
#search_type_menu_container {
	z-index: 1;
}
#edit-search-theme-form-1-wrapper {
	left: 0px;
	top: 0px;
	z-index: 0;
}
#edit-search-theme-form-1 {
	color: #999;
	border: 3px solid #2c3e53;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	height: 34px;
	width: 303px;
	padding: 0 0 0 85px;
	position: absolute;
	right: -106px;
	top: 0;
	z-index: 0;
	font-size: 14px;
}
#search input[type="submit"] {
	background: transparent url(../images/search-icon.png) no-repeat top center;
	width: 25px;
	height: 24px;
	border: 0;
	position: absolute;
	padding: 0;
	margin: 0;
	right: -98px !important;
	top: 8px !important;
}
#edit-search-theme-form-1-wrapper label/* Label that says "Search this site:" */ {
	
}
/*
 * Search (search-block-form.tpl.php)
 */
#search-block-form/* Wrapper for the search form */ {
}
#edit-search-block-form-1-wrapper label/* Label that says "Search this site:" */ {
	display: none;
}
/*
 * Drupal's default login form block
 */
#user-login-form {
	text-align: left; /* LTR */
}
/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul/* OpenID creates a new ul above the login form's links. */ {
	margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}
#user-login-form li.openid-link/* The "Log in using OpenID" link. */ {
	margin-top: 1em;
	margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}
#user-login-form li.user-link/* The "Cancel OpenID login" link. */ {
	margin-top: 1em;
}
#user-login ul {
	margin: 1em 0;
}
#user-login li.openid-link, #user-login li.user-link/* The OpenID links on the /user form. */ {
	margin-left: -2em; /* LTR */ /* Un-do all of the padding on the ul list. */
}
#user-login-form input[type="submit"] {
	display: block;
	background: url(../images/login_user.png) no-repeat 0 0;
	height: 36px;
	width: 125px;
	border: none;
	margin: 0 auto;
	cursor: pointer;
}
#user-login-form div.item-list {
	font-size: 13px;
	line-height: 17px;
}
#user-login-form div.item-list.login_form_separator {
	padding: 2px 0 17px;
}
#user-login-form div.item-list.login_form_separator li.openid-processed {
	margin-left: 0;
	border-top: 3px double #3c4b55;
	padding-top: 10px;
	margin-top: 10px;
}
#user-login-form div.item-list.login_form_separator li.openid-processed a {
	padding: 0;
}
#user-login-form div.item-list li.last {
	margin-top: 0;
}
/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */

form th, form thead th {
	text-align: left; /* LTR */
	padding-right: 1em; /* LTR */
	border-bottom: 3px solid #ccc;
}
form tbody th {
	border-bottom: 1px solid #ccc;
}
form fieldset td {
	vertical-align: top;
	padding-bottom: 5px;
}
td.form-item-label {
	text-align: right;
	padding-right: 10px;
	width: 150px;
	font-weight: bold;
}
div.form-radios, div.form-checkboxes, div.form-radios > table, div.form-checkboxes > table {
	margin: 0;
}
div.form-radios td.form-item-label, div.form-checkboxes td.form-item-label {
	display: none;
}
/* registration form */
form#user-register {
	width: 470px;
}
form#user-register input#edit-submit.form-submit {
	position: absolute;
	right: 71px;
	bottom: 10px;
}
.page-user-register form#user-register input#edit-submit.form-submit {
	right: 16px;
	bottom: 82px;
	background: url(../images/create_new_account.png) no-repeat;
	width: 185px;
	height: 39px;
	border: none;
	text-indent: -9999px;
	display: block;
}
#user-register div.description {
	font-size: 13px;
	margin-top: 18px;
}
#edit-pass-pass1-wrapper {
	margin: 0;
}
#edit-pass-pass2-wrapper {
	margin: 0;
}
#user-register div.form-item label {
	width: 450px;
}
#user-register div.form-item div.description {
}
#user-register span.password-result {
	padding-left: 125px;
	background-repeat: no-repeat;
	background-position: 0 4px;
}
#user-register span.password-result.error {
	background-image: url(/themes/vibio/images/progress/progressbar_low.png);
}
#user-register span.password-result.warning {
	background-image: url(/themes/vibio/images/progress/progressbar_medium.png);
}
#user-register span.password-result.ok {
	background-image: url(/themes/vibio/images/progress/progressbar_high.png);
}
/* ----- Buttons---- */

.button {
	background: url(/themes/vibio/images/search_button.png) no-repeat 0px 0px;
	display: block;
	position: relative;
	z-index: 0;
	width: 80px;
	height: 33px;
	text-indent: -9999px;
	top: -0.9px;
	left: -1px
}
img#searchtype_vibio_item, img#searchtype_user {
	margin-left: 10px;
}
img#searchtype_vibio_item {
	margin-top: 10px
}
img#searchtype_user {
	margin-top: 10px
}
a.add_friend {
	background: url(../images/add_friend.png) no-repeat 0px 0px;
	width: 111px;
	height: 28px;
	display: block;
	border: none;
	text-indent: -9999px;
}
a.add_friend:hover {
	background-position: -0px -38px;
}
/*Add Product form*/
#edit-title, #edit-body, #edit-collection-info-cid {
	width: 460px;
}
#add-product {
	margin-top: 18px;
}
.grippie {
	display: none
}
#edit-submit.form-submit, #edit-preview.form-submit {
}
#edit-preview.form-submit {
}
/*button styles*/

/*User Login Form*/
form#user-login {
	width: 360px;
	background: #e5e7ea;
	border-radius: 4px;
	-moz-border-radius: 4px;
	margin: 0;
	padding: 5px 0;
	position: relative;
	min-height: 270px;
	float: left;
}
form#user-login input, form#user-login .description {
	width: 305px;
	margin: 0 20px;
}
form#user-register {
	width: 480px;
}
form#user-register input {
	width: 450px;
}
form#user-login .description {
	padding: 10px 0;
	line-height: 20px;
}
form#user-login label {
	font-weight: bold;
	margin-left: 20px;
}
form#user-login input#edit-submit {
	width: 20px;
	padding: 0;
	margin:   :0;
	background: url(../images/log_in.png) no-repeat;
	display: block;
	height: 35px;
	width: 73px;
	border: none;
	text-indent: -9999px;
	position: absolute;
	bottom: 10px;
	right: 13px;
}
/*Facebook button User Login PAge*/
#block-block-12 {
	float: left;
	margin: 75px 0 0 60px;
	position: relative;
}
#block-block-12 .fb-or {
	top: 31px;
	left: -36px;
	position: absolute;
}
/*Forgot password page*/

form#user-pass input#edit-submit.form-submit {
	background: url(../images/btn_submit.png) no-repeat;
	display: block;
	text-indent: -9999px;
	width: 82px;
	height: 36px;
	border: none;
	float: right;
}
form#user-pass div#edit-name-wrapper {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
}
form#user-pass div#edit-name-wrapper input#edit-name {
	width: 449px;
}
table.privatemsg-list{
	margin-bottom:35px;
}
table.privatemsg-list th{
	border-bottom: 1px solid #CCCCCC;
}
.page-messages fieldset.collapsible{
	border:none;
	background:#dcdcdc;
	padding:5px;
	position: relative;
}
.page-messages fieldset.collapsible legend{
	position:absolute;
	top:-21px;
}
td.active{
	background:none
}
tr.privatemsg-unread{
	background: #ccecff;
}
/*Invite popoup*/
form#uri-request-relationship-form{
	margin: 30px 0 0 20px;
	width:340px;
}
form#uri-request-relationship-form .description{
	margin-bottom:20px
}
input#edit-uri-request-relationship-confirm{
	margin-right: 5px;
}
input#edit-field-images-0-filefield-upload, input#edit-field-main-image-0-filefield-upload{
	
}
