/* $Id: nodes.css,v 1.6 2009/11/02 15:37:29 johnalbin Exp $ */

/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node /* Node wrapper */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

.node h2.title /* Node title */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node .picture /* The picture of the node author */ {
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
}

.node .submitted /* The "posted by" information */ {
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.search_result_image {
  float: left;
  max-height: 70px;
  max-width: 50px;
}

.product_main_image, .node_view_item_image {
  max-width: 100px;
}

.node_view_item_image {
  margin-right: 15px;
  max-height: 54px;
}

.product_node_data {
  float: left;
  width: 595px;
}

.product_description {
  color: #2b363d;
}

.product_extra_data {
  margin-top: 10px;
  background: #f9f9f9;
  border: 2px solid #eaeaea;
  padding: 5px 20px;
  color: #727272;
}

.product_image {
  float: left;
  margin: 5px 25px 0 0;
  text-align: center;
  width: 100px;
}

.node_vibio_item_title {
  float: left;
  font-weight: bold;
  color: black;
  max-width: 475px;
}

.vibio_item_delete_summary {
	margin: 5px 0 10px;
}

.vibio_item_delete_summary img {
	max-width: 80px;
	max-height: 80px;
}

.vibio_item_delete_summary tbody {
	border-top: none;
}

.vibio_item_delete_summary .node_info {
	width: 500px;
	padding-left: 10px;
}

table.search-results.vibio_item td {
  vertical-align: top;
  padding-bottom: 10px;
}