/* discussion box */
#neg-discuss {
	float: left;
	margin-left: 15px;
}
#neg-discuss h3 {
	font-size: 22px;
	margin-top: 10px;
	font-weight: normal;
}
#neg-discuss .content {
}
#neg-discuss .minheader {
	font-size: 1.2em;
}
#neg-discuss .picture {
}
#neg-discuss div.label {
}
.done {
	color: green;
	font-weight: bold;
}
/* product area */
#offer_item_offer {
	font-size: 13px;
	font-weight: bold;
}
#offer_item_offer .item_title {
	font-size: 18px;
	margin-bottom: 18px;
}
/* Make "My Offer" look like the title */
#edit-field-price-0-value-wrapper label {
}
div#product_info_in_offer {
	width: 250px;
	float: left;
	padding: 25px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin: 0 20px 10px 0;
}
div#product_info_in_offer img, div#seller_info_in_offer img {
	border: 1px solid #CCCCCC;
}
div#seller_info_in_offer .person_pic, #buyer-for-seller .person_pic {
	border: 1px solid #CCCCCC;
	padding: 5px 5px 2px;
	background: #FFFFFF;
	width: 44px;
	float: left;
}
div#seller_info_in_offer .person_pic {
	margin-top: 18px;
}
div#buyer-for-seller .person_pic {
	margin: 0 10px 68px 0;
}
div.form-radios div.form-item {
	float: left;
	width: 85px;
	font-size: 13px;
}
div#seller_info_in_offer .person_pic_seller {
	font-weight: bold;
	margin: 18px 0 0 10px;
	float: left;
	width: 200px;
}
#seller-neg-form div.form-item label {
	clear: both
}
#seller-neg-form div#edit-field-chat-0-value-wrapper {
	clear: both
}
#buyer-for-seller .person_pic_seller {
	font-weight: bold
}
.person_pic_offer {
	font-weight: bold;
}
/* buyer pic in buyer area during offer */
#offer_neg_buyer .person_pic {
}
#offer_neg_buyer input#edit-field-city-0-value{
	width:284px;
}
div#buyer_info_in_offer {
}
/* Stephens, some still in stephen.css */
#form-column {
	clear: left;
	float: left;
	width: 300px;
	background: #e5e7ea;
	border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 10px;
}
#buyer-for-seller {
}
#chit-chat .node {
}

