/* discussion box */
#neg-discuss {
	float: left;
	margin-left: 15px;
	line-height: 21px;
}
#neg-discuss h3 {
	font-size: 22px;
	margin-top: 10px;
	font-weight: normal;
	background: url("../images/long_border.png") no-repeat scroll 0 32px transparent;
	height: 43px;
	padding: 0;
	width: 318px;
}
#neg-discuss .content {
}
#neg-discuss .minheader {
}
#neg-discuss .picture {
}
#neg-discuss div.label {
}
.done {
	color: green;
	font-weight: bold;
}
/* product area */
#offer_item_offer {
	font-size: 13px;
	font-weight: bold;
}
#offer_item_offer .item_title {
	font-size: 18px;
	font-weight:normal;
	margin-bottom: 5px;
}
/* Make "My Offer" look like the title */
#edit-field-price-0-value-wrapper .description {
	display:inline;
	vertical-align:bottom;
}
input#edit-field-price-0-value-wrapper, input#edit-field-price-0-value {
	width:92px;
}
div#edit-field-price-0-value-wrapper label{
	font-size:18px;
}
input#edit-field-offer-expires-0-value-datepicker-popup-0, input#edit-field-offer-expires-0-value-timeEntry-popup-1{
	width:130px;
}
div#product_info_in_offer {
	float: left;
	margin: 0 20px 10px 0;
}
div#product_info_in_offer img, div#seller_info_in_offer img {
	border: 1px solid #CCCCCC;
}
div#seller_info_in_offer .person_pic, div#offer_neg_buyer .person_pic, #buyer-for-seller .person_pic, #neg-discuss img {
	border: 1px solid #CCCCCC;
	padding: 5px 3px 1px 5px;
	background: #FFFFFF;
	width: 44px;
	float: left;
}
div#neg-discuss img {
	width: 44px;
	height: 44px;
	padding: 5px;
	background: #FFFFFF;
	margin: 0 10px 5px 0;
}
.field-field-pay-received, .field-field-item-sent, .offer-detail {
	margin-left: 65px;
}
div#chit-chat .content {
	padding-bottom: 5px;
	border-bottom: 1px solid #CCCCCC;
}
div#seller_info_in_offer .person_pic {
	margin-top: 18px;
}
div#buyer-for-seller .person_pic{
	margin: 0 10px 68px 0;
}
div#offer_neg_buyer .person_pic {
	margin: 0 10px 10px 0;
}
div.form-radios div.form-item {
	float: left;
	width: 85px;
	font-size: 13px;
}
div#seller_info_in_offer .person_pic_seller {
	font-weight: bold;
	font-size: 13px;
	margin: 18px 0 0 0px;
	float: left;
	width: 200px;
}
#seller-neg-form div.form-item label {
	clear: both;
	margin-bottom: 15px;
}
#seller-neg-form div.form-radios {
	height: 30px;
}
#seller-neg-form label {
	font-weight: 500 !important;
}
#seller-neg-form div#edit-field-chat-0-value-wrapper {
	clear: both;
	margin-top: 7px;
}
#buyer-for-seller .person_pic_seller {
	font-weight: bold
}
.person_pic_offer {
	font-weight: bold;
}

#offer_neg_buyer input#edit-field-city-0-value {
	width: 284px;
}
div#buyer_info_in_offer {
}
/* Stephens, some still in stephen.css */
#form-column {
	clear: left;
	float: left;
	width: 300px;
	background: #e5e7ea;
	border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 10px;
}
#buyer-for-seller {
}
#chit-chat .node {
	font-size:13px
}
/*Offer Review Seller Negotiation form*/
#seller-neg-form input#edit-submit {
	float: right;
	margin-right: 4px;
}
#seller-neg-form .attachments {
	clear: both
}
#offer_top {
	height: 140px;
	margin-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
}
