/* $Id: pages.css,v 1.18.2.3 2010/06/26 17:18:58 johnalbin Exp $ */

/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body.not-front, body.front{
  background: url('../images/bgtile.jpg') repeat scroll 0 0;
  margin: 0;
  padding: 0;
}

#page-wrapper {
  padding: 10px;
}

#page_title {
  color: #556270;
}

/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */

#header_quick_actions {
  width: 625px;
  height: 41px;
  float: right;
  position: relative;
  font-size: 15px;
}
#header_quick_actions a:hover{
	color:#00AEF0;
}
#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}
#name-and-slogan img{
	width:132px;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

.slogan {
  background: transparent url(../vibio-tagline.png) no-repeat;
  top: 33px;
  position: relative;
  left: 130px;
  text-indent: -4999px;
  width: 200px;
  height: 20px;
}


.region-header /* Wrapper for any blocks placed in the header region */ {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

p.section_title {
background:url("../images/long_border.png") no-repeat scroll 0 30px transparent;
height:43px;
margin: 13px 0 0;
padding: 0;
}

h1#page_title {
background:url("../images/long_border.png") no-repeat scroll 0 32px transparent;
height:43px;
margin: 13px 0 0;
padding: 0;
}

.section_title{
	font-size: 22px;
	color: #556270;
	font-weight: bold;
}

.section_sub_title a{
	font-size: 13px;
	color: #106F93;
	font-weight: normal;
	padding-left: 20px
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
   background: none; /* Drupal core uses a #eee background */
}

tr.odd {
  background: none; /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
  margin: 1em 0;
}

ul.links.inline {
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

/*Footer*/

.region-footer {
}

.region-footer .block {
  font-size: 11px;
  font-weight: bold;
  color: #c3dfe8;
  padding-top: 5px 
}

.region-footer h2 {
  display: none;
}

.region-footer a:link,
.region-footer a:visited {
  color: #c3dfe8;
  line-height: 2em;
}


.region-footer ul {
  padding: 0;
}

.region-footer ul li {
  list-style-type: none;
  list-style-image: none;
}
#block-block-3{
	width: 100%;
	height: 84px;
}
#footer-logo img{
	float: left;
	width:132px; 
	margin-right: 87px;
}
#footer-links{
 	float: left;
}
#footer-social{
	font-size: 13px;
	margin-top:15px;
	font-weight: bold;
}
#footer-twitter{
	background-position: 0px 0px;
	margin-left: 10px;
}
#footer-fb{
	background-position: -29px 0px;
}
#footer-tumbler{
	background-position: -59px 0px;
	
}
#footer-email{
	background-position: -89px 0px;
}
#footer-nav{
	clear: both;
}
.float-left{
	float: left;
	margin-top: 5px;
}
.footer-s-image{
	background: url(/themes/vibio/images/footer_social.png) no-repeat;
	text-indent:-9999px;
	display: block;
	width: 21px;
	height:21px;
	float: left;
	margin-right: 7px; 
}

#footer-copyright{
 	font-weight: normal;
 	float: right;
 	margin-top: 12px;
}
#footer-copyright p{
	margin: 5px 0;
	text-align: right;
}

 

/*
 * Closure
 */
.region-page-closure {
	width: 100%;
	margin-top: -75px;
}

.region-page-closure a {
  color: white;
}

.region-page-closure ul li {
  list-style-type: none;
  list-style-image: none;
  float: left;
  padding: 0 5px;
}



/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
/* .element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  /*clip: rect(1px, 1px, 1px, 1px);
}
*/

.rounded_container {
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.rounded_content {
  border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 0;
  padding: 5px 0;
}

.rounded_left_side {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  margin: 0;
  padding: 0 0 0 5px;
}

#block-fb-fb_api_init, #block-fb-fb_dialogs {
  padding: 0;
}

.image_reflection {
  -webkit-box-reflect: below 0 -webkit-gradient(linear, 0 0, 0 100%, color-stop(.75, transparent), to(white));
}

#content.reflection {
  -webkit-box-reflect: below 5px -webkit-gradient(linear, 0 0, 0 100%, color-stop(.85, transparent), to(white));
}

#content-area .rounded_content {
  background: transparent url(../images/bg-content-tile.jpg);
	min-height: 749px;
	padding: 6px;
}

/*#content-area .rounded_content {
  background: #f9f9f9;
  border: 1px solid #eaeaea;
}*/

.sidebar .rounded_content {
  color: #556270;
  min-height: 761px;
}

.sidebar .rounded_content a {
  color: #106f93;
}

.sidebar .rounded_content a.active {
  font-weight: bold;
}

.sidebar .item-list ul, .sidebar ul.menu {
  padding: 0;
  margin: 0;
}

.sidebar .item-list ul li, .sidebar ul.menu li {
  padding: 0;
  margin: 5px 0 0;
  list-style-type: none;
  list-style-image: none;
}

.sidebar #user-login-form li.openid-link a, #user-login li.openid-link a {
  background: none;
}

.clear {
  clear: both;
  height: 0;
}

/* stephen: these are two broad. not all .view .picture
 * images should be locked to a set size (remove this note when solved)
 * Featured Member breaks this, bet more things will soon
 */
.comment .picture img, .view .picture img, .view-content .picture img  {
	height: 42px;
	width:42px;
	border: 1px solid #CCC;
}

#block-menu-secondary-links {
	padding-top: 75px;
}

#block-menu-secondary-links .content {
  text-align: center;
}

#block-menu-secondary-links .content a {
  padding: 0 15px;
  border-left: 1px solid #5C6C79;
}

#block-menu-secondary-links .content a:first-child {
  padding-left: 0;
  border-left: none;
}

#block-menu-secondary-links h2 {
	display: none;
}

#block-menu-secondary-links ul.menu {
	margin: 0;
}

#block-menu-secondary-links ul.menu li {
	list-style-image: none;
	list-style-type: none;
	float: left;
	margin-right: 30px;
}

#block-menu-secondary-links ul.menu li a.active {
	color: #0092C9;
}

.region-sidebar-first h2.title {
  color: #106F93;
  font-size: 15px;
}

#block-user-1 {
  margin-bottom: 2px;
  padding-bottom: 5px;
}

.menu_with_count_text {
  /*stephen: float: left; */
}

.menu_with_count_count {
  float: right;
  color: #FFF;
}

.indent {
  margin-left: 25px;
}

.search-results.user .picture img {
	/*max-width: 40px;*/
}

.search-results.user .search_user_info {
	padding-left: 5px;
	width: 500px;
}

/* search type selector */
#search_type_menu_container {
	float: left;
	margin-right: -2px;
	position: relative;
	top: 1px;
}

#search_type_menu_container:hover {
	cursor: pointer;
}

#search_type_menu_container table {
	margin: 0;
  position: relative;
}

#search_type_menu_container table tbody {
	border-top: 0;
}

img#search_type_current {
	width: 19px;
	height: 19px;
}

#search_type_menu_container tr {
  position: relative;
  z-index: 0;
}

#search_type_menu_container td {
  /* background: transparent url(../images/arrow-white-down.png) center right no-repeat;
  */
  padding-right: 8px;
  position: relative;
  z-index: 2;
}




#search_type_submenu {
/* stephen-remove-hidden-menu	
weird, these are larger images, not the ones we want,
go back to hiding them */
 display: none;
}

/*Search Buttons dropdown images*/

a.searchtype_vibio_item{
	background: url(../images/btn_search_dropdown.png) no-repeat 7px 10px;
	text-indent: -9999px;
	display: block;
	height: 42px;
}
a.searchtype_vibio_item:hover{
	background-position: 7px -153px;
}
a.searchtype_user{
	background: url(../images/btn_search_dropdown.png) no-repeat 7px -42px;
	text-indent: -9999px;
	display: block;
	height: 42px;
}
a.searchtype_user:hover{
	background-position: 7px -205px;
}
.search_type_submenu_container {
	background: url(../images/bgd_search_drop.png) no-repeat 0 0;
	display:block;
	height:113px;
	width: 114px;
}

.search_type_submenu_container table {
	margin: 10px 0 0 0;
}

.search_type_submenu_container .searchtype_image {
	margin-bottom: -5px;
}

#content-area fieldset.rounded_content {
	min-height: 0 !important;
	background: #e0f2ff;
	border: 1px solid #c7e5fd;
	padding: 15px;
	margin-bottom: 10px;
}

fieldset > div.title {
	color: #464f54;
	font-size: 1.5em;
	margin: 0;
}

h5.menu_header {
	margin: 5px 0 0;
}

.region-sidebar-first span.menu_description {
	color: #86b1c2;
	font-size: 12px;
	font-weight: bold;
}

#user-login-form {
	background: none;
	margin-top: 10px;
}

#user-login-form span.form-required {
	display: none;
}

#user-login-form input[type='text'], #user-login-form input[type="password"] {
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  -webkit-box-shadow: inset 1px 1px 1px 0px #e3e3e3;
 -moz-box-shadow: inset 1px 1px 1px 0px #e3e3e3;
 box-shadow: inset 1px 1px 1px 0px #e3e3e3;  
 height: 30px;	
  width: 158px;
  padding: 0 5px;
  font-size: 13px;
}

#user-login-form #edit-openid-identifier {
	width: 115px;
}

#user-login-form div.form-item#edit-name-wrapper {
	margin-top: 0;
}

/* privatemsg */
img.privatemsg_autocomplete_image {
	width: 40px;
	margin: 5px 5px 5px 0;
}

span.privatemsg_autocomplete_name {
	position: relative;
	top: -25px;
}

.privatemsg-box-fb .left-column .avatar-fb img {
	max-width: 100px;
	max-height: 120px;
}

/* ebay search results */
.ebay_search_item {
	margin-bottom: 10px;
}

.ebay_image {
	float: left;
	margin-right: 10px;
}

.ebay_image img {
	max-height: 40px;
}

.ebay_info {
	float: left;
	width: 400px;
}

/* button stuff */
.button_left {
	background: transparent url(/themes/vibio/images/buttons/blueButton_L.png) no-repeat 0 0;
	float: left;
	width: 12px;
	height: 36px;
}

.button_mid {
	background: transparent url(/themes/vibio/images/buttons/blueButton_Mid.png) repeat-x 0 0;
	float: left;
	padding: 5px 10px 0;
	height: 31px;
	font-weight: bold;
	color: white;
}

.button_mid .form-submit {
	background: transparent;
	border: none;
	font-size: 18px;
	color: white;
}

.button_mid span.form-submit {
	position: relative;
	top: 3px;
}

.button_right {
	background: transparent url(/themes/vibio/images/buttons/blueButton_R.png) no-repeat 0 0;
	float: left;
	width: 12px;
	height: 36px;
	position: relative;
	left: -1px;
}

.block-nice_menus ul {
  margin: 0;
  padding: 0;
}
/*Not Logged In Pages*/

.not-logged-in h1#page_title{
	margin: 1px 0 10px 0px;
	padding-left: 8px;
}

.not-logged-in div.tabs{
	margin: 0 0 25px;
}
