.already-have-link{
	margin-top:20px;
}
.external_short_link {
	float: right;
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 15px;
	line-height: 28px;
}

.external_short_link a#info-button {
	text-indent: -9999px;
	display: block;
	background: url(../images/info_button.png) no-repeat 0px -1px;
	height: 24px;
	width: 24px;
	float: right;
	margin-left: 5px
}

.external_short_link a#info-button:hover{
	background-position: -40px -1px;
}

#page_title {
	display: none;
}

h1#product_description{
background:url("../images/long_border.png") no-repeat scroll 0 32px transparent;
height:43px;
margin: 0 0 20px;
padding: 0;
}

.product_title {
	margin: 0;
}

.product_owners_results {
}

.item_owner .action {
	width: 140px;
	float: right; /* Carolyn should play */
  /* the not_for_sale.png image is messing up the flow after first-pass */
}

.item_owner .picture {
	padding: 5px 5px 0;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	width: 44px;
	float: left;
	margin: 7px 18px 0 0;
}

.product_owners_results .item_owner .picture img {
    max-width: 42px;
    max-height: 42px;
    border: 1px solid #CCCCCC;
    
}
.item_owner .picture img {
	max-width: 40px;
}

.item_owner .item_info {
	float: left;
	font-size:13px;
	width: 430px; /* it was 500, which messed up flow with .item_owner .action above */
}

.item-square .inventory_add, 
.item-square .inventory_want {
  display: none;
}

.item-square:hover .inventory_add, 
.item-square:hover .inventory_want {
  display: inline;
}

.inventory_add_pinfo {
	margin: 0;
	color: #8E9E30;
}

.inventory_add_image {
	padding-right: 10px;
}

.inventory_add_image img {
	max-width: 100px;
	max-height: 100px;
}

.product_snippet_expand {
  display: none;
}
.product_snippet_expand, .product_snippet{
	margin-bottom:30px;
}

/*
.highlight {
	background: purple;	
	border: 2px solid yellow;
}
*/
