#profile_ext_displayblock_image {
	width: 140px;
	padding: 3px;
	border: 2px solid black;
	background: #eee;
}

#profile_ext_header {
	border-left: 1px solid #345162;
	float: right;
	margin: 7px 10px 0px 0px;
	text-align: right;
	width: 227px;
	color: #BEE9FF;
}

#profile_ext_header a, .menuContainer a {
	color: white;
	font-weight: bold;
}

.menuContainer table {
	margin: 3px 0;
}

.menuContainer a {
	color: #B9D9F0;
	font-size: 10px;
}

#profile_ext_header table {
	margin: 0;
	float: right;
}

#profile_ext_headermenu img {
	position: relative;
	top: -2px;
	margin-left: 10px;
}

#profile_ext_submenu {
	display: none;
}

.profile_ext_displayblock_item:first-child {
	margin-right: 5px;
}

.profile_ext_displayblock_item {
	background: #36434C;
	padding: 3px;
	float: left;
	width: 66px;
}

.profile_ext_displayblock_item img {
	float: left;
}

.profile_ext_displayblock_item span {
	color: #b5ca3e;
	float: right;
	font-size: 14px;
}

.menuContainer {
	background: #304B5E;
	border: 2px solid black;
	padding: 0 10px;
}

#profile_tabs {
	margin-top: 15px;
}