#profile_ext_displayblock_image {
	width: 140px;
	padding: 3px;
	border: 2px solid black;
	background: #eee;
}

#profile_ext_header {
	border-left: 1px solid #345162;
	float: right;
	margin: 7px 10px 0px 0px;
	text-align: right;
	width: 227px;
	color: #BEE9FF;
}

#profile_ext_header a, .menuContainer a {
	color: white;
	font-weight: bold;
}

.menuContainer table {
	margin: -3px 0;
}

.menuContainer a {
	color: #70818B;
	font-size: 12px;
}

#profile_ext_header table {
	margin: 0;
	float: right;
}

#profile_ext_headermenu {
	color: white;
}

#profile_ext_headermenu img {
	position: relative;
	top: -2px;
}

#profile_ext_submenu {
	display: none;
}

#profile_ext_headermenu:hover {
	cursor: pointer;
}

.profile_ext_displayblock_item:first-child {
	margin-right: 5px;
}

.profile_ext_displayblock_item {
	background: #36434C;
	padding: 3px;
	float: left;
	width: 66px;
	height: 20px;
}

.profile_ext_displayblock_item img {
	float: left;
}

.profile_ext_displayblock_item span {
	color: #b5ca3e;
	float: right;
	font-size: 14px;
	font-weight: bold;
}

#profile_ext_headermenu .rootVoice {
	padding: 0 10px;
}

#profile_ext_headermenu .rootVoice.selected {
	background: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	color: black;
	opacity: 0.85 !important;
	filter: alpha(opacity=85) !important;
}

#profile_ext_headermenu .rootVoice.selected .mbmenu_arrow_icon {
	background-image: url(/themes/vibio/images/icons/acct_dropdown_selected.png);
}

.menuContainer {
	background: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0 10px 10px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	background: white;
	opacity: 0.85 !important;
	filter: alpha(opacity=85) !important;
}

.menuContainer p.separator {
	background-color: #A0A5A9;
	height: 1px;
	margin: 10px 0px 0px;
	width: 100%;
}

#profile_tabs {
	margin-top: 15px;
}

.mbmenu_arrow_icon {
	background: url(/themes/vibio/images/icons/acct_dropdown.png) no-repeat;
	display: block;
	float: left;
	height: 5px;
	left: -5px;
	position: relative;
	top: 7px;
	width: 9px;
}

.mbmenu_title {
	float: right;
}

.profile_notifications_summary {
	float: left;
	width: 550px;
}

.profile_busy_indicator {
	float: right;
	margin-right: 25px;
}

.profile_busy_indicator img {
	display: none;
}

.profile_notifications_actions {
	margin-top: 10px;
}

.uri_notification .profile_notifications_actions {
	margin-top: 0;
}

.profile_notifications_actions table {
	margin: 0;
}

.profile_notification {
	background: #E0F2FF !important;
	border: 1px solid #C7E5FD;
	padding: 5px !important;
	min-height: 0 !important;
	margin-top: 10px !important;
}

.profile_notification .picture img {
	max-width: 40px;
}

.profile_notification .picture {
  float: left;
  margin-right: 10px;
}
