/* $Id: tabs.css,v 1.2 2009/08/12 08:03:53 johnalbin Exp $ */

/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 */


div.tabs {
  margin: 10px 0 15px 0;
}

div.tabs_big ul.primary {
}

ul.primary {
  border: 0;
  margin: 0;
  padding: 0; /* LTR */
  list-style: none;
  white-space: nowrap;
  line-height: normal;
}

ul.primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
  position: relative;
  
}

div.tabs_big ul.primary li a {
  height: 31px;
}

ul.primary li a {
  border: 0;
  display: block;
  height: 19px;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  background-color: transparent;
}

/*Site Wide Info Button. 7 is default, 6 is for search pages, 11 for add/product page, 17 home page, 16 selling page, 15 buying page*/
#block-block-7,#block-block-11,#block-block-15,#block-block-16,#block-block-17,#block-block-18{
	position: absolute;
	top:4px;
	right:3px;
	margin:0;
}
#block-block-6{
	position: absolute;
	top:4px;
	right:-12px;
	margin:0;
}
#block-block-11{
	top:0;
}
#block-block-7 p,#block-block-6 p,#block-block-11 p, #block-block-15 p,#block-block-16 p,#block-block-17 p,#block-block-18 p{
	margin:0;
	
}
#block-block-6 p{
	margin-right:5px;
	float:left;
}
.not-logged-in #block-block-17{
	display: none;
}
/*Info Button for Tabs menu*/

a#info-button-small {
	text-indent: -9999px;
	display: block;
	background: url(../images/info_button.png) no-repeat 10px -1px;
	height: 24px;
	width: 36px;
}

a#info-button-small:hover{
	background-position: -30px -1px;
}

a#info-button-small:hover span.tab{
	border-bottom-color:#CFD2D5;
}
/*Site wide Info Button*/

a#info-button {
	text-indent: -9999px;
	display: block;
	background: url(../images/btn_info.png) no-repeat 10px -1px;
	height: 26px;
	width: 38px;
}

a#info-button:hover{
	background-position: -40px -1px;
}

a#add-item-button {
	text-indent: -9999px;
	display: block;
	background: url(../images/btn_add_item.png) no-repeat -1px 0px;
	height: 26px;
	width: 116px;
}

a#add-item-button:hover{
	background-position: -1px -42px;
}

a#info-button:hover span.tab{
	border-bottom-color:#CFD2D5;
}


div.tabs_big ul.primary li a .tab {
  height: 31px;
  padding-top: 5px;
  padding-right: 11px;
  font-weight: bold;
}

ul.primary li a .tab, .blank-li span.tab {
  display: block;
  margin: 0;
  padding: 0 11px 5px;
  border-width: 0;
  font-size:15px;
  border-bottom: 7px solid #cfd2d5;  
  font-weight: bold;
  color: #556270;
}

.blank-li span.tab{
	padding: 0 0 5px
}

li.blank-li{
	width: 330px;
}

ul.primary li a:hover {
  background-color: transparent;
}

ul.primary li a:hover .tab {
  border-bottom: 7px solid #00AEF0;  
  color: #00AEF0;
}

div.tabs_big ul.primary li.active a,
div.tabs_big ul.primary li.active a:hover,
div.tabs_big ul.primary li.ui-state-active a,
div.tabs_big ul.primary li.ui-state-active a:hover
{
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.ui-state-active a,
ul.primary li.ui-state-active a:hover
{
  background: transparent;
  border-width: 0;
  color: black;
}

div.tabs_big ul.primary li.active a .tab,
div.tabs_big ul.primary li.active a:hover .tab,
div.tabs_big ul.primary li.ui-state-active a .tab,
div.tabs_big ul.primary li.ui-state-active a:hover .tab
{
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab,
ul.primary li.ui-state-active a .tab,
ul.primary li.ui-state-active a:hover .tab
{
  border-bottom: 7px solid #00AEF0;
  color: #00AEF0;
}

.tab-seperator{
	position: absolute;
	right: -2px;
	color: #556270
}


ul.secondary {
  margin: 0;
  padding: 0 0 0 5px; /* LTR */
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tab-secondary-bg.png) repeat-x left bottom;
}

ul.secondary li {
  float: left; /* LTR */
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none; /* LTR */
}

ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #777;
  background: url(../images/tab-secondary.png) repeat-x left -56px;
}

ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

ul.secondary a:hover {
  background: url(../images/tab-secondary.png) repeat-x left bottom;
}

ul.secondary a.active,
ul.secondary a.active:hover {
  border: 1px solid #c0c0c0;
  color: #000;
  background: url(../images/tab-secondary.png) repeat-x left top;
}
