/* $Id: tabs.css,v 1.2 2009/08/12 08:03:53 johnalbin Exp $ */

/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 */


div.tabs {
  margin: 0 0 15px 0;
}

div.tabs_big ul.primary {
}

ul.primary {
  border: 0;
  margin: 0;
  padding: 0 0 0 10px; /* LTR */
  list-style: none;
  white-space: nowrap;
  line-height: normal;
}

ul.primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

div.tabs_big ul.primary li a {
  height: 31px;
}

ul.primary li a {
  border: 0;
  display: block;
  height: 19px;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  background-color: transparent;
}



div.tabs_big ul.primary li a .tab {
  height: 31px;
  padding-top: 5px;
  padding-right: 11px;
  font-weight: bold;
}

ul.primary li a .tab {
  display: block;
  margin: 0;
  padding: 0 8px 0 5px;
  border-width: 0;
  font-size:15px;
  border-bottom: 7px solid #cfd2d5;  
  font-weight: bold;
}

ul.primary li a:hover {
  background-color: transparent;
}

ul.primary li a:hover .tab {
  border-bottom: 7px solid #0092C9;  
  color: #00aeef;
}

div.tabs_big ul.primary li.active a,
div.tabs_big ul.primary li.active a:hover,
div.tabs_big ul.primary li.ui-state-active a,
div.tabs_big ul.primary li.ui-state-active a:hover
{
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.ui-state-active a,
ul.primary li.ui-state-active a:hover
{
 background: transparent;
 border-width: 0;
  color: black;
}

div.tabs_big ul.primary li.active a .tab,
div.tabs_big ul.primary li.active a:hover .tab,
div.tabs_big ul.primary li.ui-state-active a .tab,
div.tabs_big ul.primary li.ui-state-active a:hover .tab
{
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab,
ul.primary li.ui-state-active a .tab,
ul.primary li.ui-state-active a:hover .tab
{
  border-bottom: 7px solid #54cffe;
  color: #54cffe;
}


ul.secondary {
  margin: 0;
  padding: 0 0 0 5px; /* LTR */
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tab-secondary-bg.png) repeat-x left bottom;
}

ul.secondary li {
  float: left; /* LTR */
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none; /* LTR */
}

ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #777;
  background: url(../images/tab-secondary.png) repeat-x left -56px;
}

ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

ul.secondary a:hover {
  background: url(../images/tab-secondary.png) repeat-x left bottom;
}

ul.secondary a.active,
ul.secondary a.active:hover {
  border: 1px solid #c0c0c0;
  color: #000;
  background: url(../images/tab-secondary.png) repeat-x left top;
}
