img.uri_edit_busy_indicator {
	display: none;
}

#uri_elaborations_edit {
	display: none;
}

#uri_elaborations_edit fieldset {
	width: 480px;
}

#friends_tabs {
	margin-top: 25px;
}

.potential_friend {
	margin-bottom: 15px;
}

.potential_friend .picture {
	float: left;
}

.potential_friend .picture img {
	max-width: 40px;
}

.potential_friend .potential_friend_summary {
	float: left;
	margin-left: 10px;
	width: 350px;
}

.potential_friend .potential_friend_links {
	float: right;
}

.potential_friend_links table {
	margin: 0;
}

.uri_notification.profile_notification .profile_notifications_actions {
	float: right;
}

.uri_notification.profile_notification .profile_notifications_summary {
	width: 500px;
}
