/* trash these useless efforts to quick-theme HAVE popup once find real answer (here to prevent repeat efforts)

 .ui-widget-overlay {
 margin-top: -200px;
 }
 /* moving the HAVE button popup higher...
 expect to return to this, fine tune it?
 Move it below when things settle

 Dammit... messes up Close button, the pieces here are separte

 .vibio_dialog_content {
 position: relative;
 top: -200px;
 }
 .ui-widget-overlay {
 top: -800px;
 }
 .ui-widget {
 margin-top: 400px;
 }
 */
div.ui-dialog {
	padding-left: 100px
}
#vibio_dialog {
	border-radius: 8px;
	-moz-border-radius: 8px;
	min-height: 55px !important;
}
#product-ajax-add-form {
	width: 616px;
}
#vibio_dialog .inventory_add_image {
	padding: 8px 8px 4px;
	float: left;
	border: 1px solid #CCCCCC;
	margin: 30px 30px 93px 20px;
}
#product-ajax-add-form #edit-collections-wrapper {
	margin: 30px 0 0;
}
#product-ajax-add-form #edit-body-wrapper {
	margin-bottom: 28px;
}
#product-ajax-add-form #edit-body {
	width: 318px;
	height: 55px
}
#vibio_dialog .inventory_add_image img {
	border: 1px solid #CCCCCC;
}
#inventory_top {
	font-size: 13px;
	padding: 10px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}
.inventory_border_top {
	border-top: 1px solid #CCCCCC;
}
.inventory_border_bottom {
	border-bottom: 1px solid #CCCCCC;
}
tr.inventory_border_bottom td, tr.inventory_border_top td {
	line-height: 12px
}
#vibio_dialog .inventory_title {
	padding: 0 18px;
	font-size: 15px;
	font-weight: bold;
	width: 436px;
	line-height: 20px;
}
table.inventory_add_pinfo tr {
	vertical-align: top;
}
span.ui-icon {
	display: none
}
.vibio_dialog_content {
	background: white;
	min-height: 150px;
	overflow: auto;
	border-radius: 8px;
	-moz-border-radius: 8px;
	border: 1px solid #E2E6E9;
	padding: 5px 10px;
}
.ui-widget-overlay {
	background: #465d70;
	opacity: 0.5;
	filter: alpha(opacity=50);
	position: absolute;
	/* temp note: position: fixed; fixes the scroll bars... and breaks the
	 X to close the window */
	overflow: hidden;
	top: 0;
	left: 0;
}
.ui-dialog-titlebar {
	/* display: none;  Where is this from?
	 Where is the entire file from, what dialog
	 was it expecting, to change automodal?
	 We do want the titlebar --stephen */
	height: 0px;
}
.ui-dialog-titlebar img {
	position: relative;
	top: 2px;
	right: 5px;
}
.vibio_dialog_close_link:hover {
	cursor: pointer;
}
.vibio_dialog_close_button {
	position: absolute;
	right: -20px;
	top: -20px;
}
#vibio_dialog .views_message {
	max-width: 390px;
}
#dialog_busy_indicator_container {
	display: none;
}
#dialog_busy_indicator {
	padding: 10px 0;
	text-align: center;
	width: 615px;
	height: 300px;
}
#product-ajax-add-form .form-item label {
	font-size: 13px;
	font-weight: bold;
}
#product-ajax-add-form #edit-privacy-wrapper {
	margin: 20px 0
}
#product-ajax-add-form #edit-collections-new-wrapper {
	margin: 5px 0
}
#product-ajax-add-form #edit-collections-new-wrapper label {
	font-weight: normal !important;
}

div#edit-node-price-wrapper {
	margin: 0
}
#product-ajax-add-form #edit-posting-type-wrapper{
	margin: 0;
	float: left;
	height: 47px;
}
#product-ajax-add-form input, #product-ajax-add-form textarea, #product-ajax-add-form select {
	padding: 2px 4px;
	width: 222px
}
#product-ajax-add-form input#edit-node-price {
	width: 102px
}
#product-ajax-add-form select#edit-posting-type {
	width: 82px;
	margin-right: 47px
}
#product-ajax-add-form input#edit-submit {
	background: url(../images/btn_additem.png) no-repeat;
	display: block;
	border: none;
	text-indent: -9999px;
	width: 201px;
	padding: 0;
	margin: 0;
	height: 43px;
	left: 130px;
	position: absolute;
	cursor: pointer
}
#product-ajax-add-form input#edit-collections-new {
	width: 212px
}
#vibio_dialog form select[multiple] {
	max-height: 120px;
	width: 190px
}
#vibio_dialog form .description {
	margin-left: 163px;
	font-size: 12px;
	color: #2B363D;
}
#vibio_dialog form input[type="file"] {
	width: 170px;
}
#vibio_dialog #edit-picture-delete-wrapper label {
	margin-left: 8px;
}
#vibio_dialog form fieldset > div.description {
	margin-left: 0;
}
/*Info Popups*/
.modalframe {
	background: none;
	border: none;
	color: #000000;
}
.modalframe .ui-dialog-titlebar {
	background-color: #FFFFFF;
	border: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	cursor: move;
	height: 26px;
	position: relative;
	white-space: nowrap;
}
/*iFrame styling*/

.modalframe .ui-dialog-title {
	color: #D9D9D9;
	display: none;
	left: 0;
	margin: 0.2em 0.5em;
	padding: 0;
	position: absolute;
	top: 0;
}
.modalframe .ui-dialog-titlebar-close {
	background: url(../images/close_button_dialog.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 41px;
	margin: 2px 2px 2px 0.5em;
	padding: 0;
	position: absolute;
	right: -20px;
	top: -23px;
	width: 39px;
}
.modalframe .ui-dialog-titlebar a.ui-state-hover, .modalframe .ui-dialog-titlebar a.ui-state-focus {
	background-position: 0 0px;
}
.modalframe .ui-dialog-titlebar-close span {
	display: none;
}
.modalframe .ui-dialog-content {
	background-color: #F8F8F8;
	color: #292929;
}
.ui-widget-overlay {
	background-color: #AAAAAA;
	height: 100%;
	left: 0;
	opacity: 0.4;
	position: absolute;
	top: 0;
	width: 100%;
}
#modalframe-container {
	background: url(../images/loading.gif) no-repeat scroll 50% 50% transparent;
	margin: 0;
	overflow: visible;
	padding: 0;
}
#modalframe-container p, ul {
	margin: 0;
}
#modalframe-container.modalframe-loaded {
	background: none repeat scroll 0 0 transparent;
}
#modalframe-element {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: -moz-use-text-color -moz-use-text-color #1B5084;
	border-style: none;
	border-width: 0;
	margin: 0;
	padding: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
}
.modalframe-throbber {
	background: url(../images/throbber.gif) no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 13px;
	width: 13px;
}

