#vibio_dialog {
	border: 1px solid black;
	padding: 10px;
	background: white;
}

.ui-widget-overlay {
	background: black;
	opacity: 0.4;
	filter: alpha(opacity=40);
	position: absolute;
	top: 0;
	left: 0;
}

.ui-dialog-titlebar {
	background: #304b5e;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	text-align: right;
}

.ui-dialog-titlebar img {
	position: relative;
	top: 2px;
	right: 5px;
}

#vibio_dialog .views_message {
	max-width: 390px;
}

#dialog_busy_indicator_container {
	display: none;
}

#dialog_busy_indicator {
	padding: 10px 0;
	text-align: center;
}

#vibio_dialog form .form-item label {
	float: left;
	margin-right: 10px;
	width: 150px;
	text-align: right;
	color: #2B363D;
}

#vibio_dialog form select[multiple] {
	max-height: 120px;
}

#vibio_dialog form input[type="text"], #vibio_dialog form textarea {
	max-width: 350px;
	max-height: 60px;
}

#vibio_dialog form .description {
	margin-left: 163px;
	font-size: 12px;
	color: #2B363D;
}