#vibio_dialog {
	border: 1px solid black;
	padding: 10px;
	background: white;
}

.ui-widget-overlay {
	background: black;
	opacity: 0.4;
	filter: alpha(opacity=40);
	position: absolute;
	top: 0;
	left: 0;
}

.ui-dialog-titlebar {
	background: #304b5e;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	text-align: right;
}

.ui-dialog-titlebar img {
	position: relative;
	top: 2px;
	right: 5px;
}

#vibio_dialog .views_message {
	max-width: 390px;
}