.views_node_image_container img {
	max-height: 40px;
	max-width: 80px;
}

.views_node_image_container {
	float: left;
}

.views-field-picture, .views-field-message {
	padding: 5px 0;
	vertical-align: top;
}

.views_message {
	float: left;
	margin-left: 10px;
	max-width: 615px;
}

.views_message p {
	margin: 0;
}

.view_activity_timestamp {
	display: block;
	font-size: 10px;
	color: #838383;
	margin: -5px 0 0;
}

.view-content tr {
	background-color: white;
	border-bottom: 1px solid #E2E6E9;
	padding-bottom: 5px;
}

#views-exposed-form-user-collection-default #edit-collection-order-by-wrapper {
	display: inline;
}

#views-exposed-form-user-collection-default #edit-submit-user-collection {
	margin-top: 0;
}

/*td.views-field-field-main-image-fid img {
	height: 100px;
}*/