.views_node_image_container img {
	max-height: 40px;
	max-width: 80px;
}

.views_node_image_container {
	float: left;
	margin-right: 10px;
}

.views_message {
	float: left;
	max-width: 435px;
}

.views_message p {
	margin: 0;
}

#views-exposed-form-user-collection-default #edit-order-by-wrapper {
	display: inline;
}

#views-exposed-form-user-collection-default #edit-submit-user-collection {
	margin-top: 0;
}

/*td.views-field-field-main-image-fid img {
	height: 100px;
}*/