div#product_info_in_offer {
        width: 160px;
        float: left;
        height: 200px;
        padding: 5px;
}
div#seller_info_in_offer {
        padding: 5px;
        height: 95px;
}
div#buyer_info_in_offer {
        padding: 5px;
        height: 95px;
}

