.offer2buy_nid {
	display: none;
}

.offer2buy_action_complete_form {
	float: left;
	margin-right: 15px;
}

.offer_details, .offer_accept {
	float: left;
}

.offer_details {
	margin-right: 15px;
}