.offer2buy_nid {
	display: none;
}

.offer2buy_action_complete_form, .offer2buy_transaction_cancel_form {
	float: left;
	margin-right: 15px;
}

.offer_details, .offer_accept {
	float: left;
}

.offer_details {
	margin-right: 15px;
}

.offer2buy_pending_offer {
	font-style: italic;
}