#newuser_tutorial_container {
	display: none;
}

#newuser_tutorial .fb_link {
	float: none;
}

.tutorial_button_left {
	background: transparent url(/themes/vibio/images/new_user/blueButton_L.png) no-repeat 0 0;
	float: left;
	width: 12px;
	height: 36px;
}

.tutorial_button_mid {
	background: transparent url(/themes/vibio/images/new_user/blueButton_Mid.png) repeat-x 0 0;
	float: left;
	padding: 5px 10px 0;
	height: 31px;
	font-weight: bold;
	color: white;
}

.tutorial_button_right {
	background: transparent url(/themes/vibio/images/new_user/blueButton_R.png) no-repeat 0 0;
	float: left;
	width: 12px;
	height: 36px;
	position: relative;
	left: -1px
}

.step_complete {
	background: transparent url(/themes/vibio/images/new_user/done_check.png) no-repeat 0 0;
	padding: 0 0 5px 40px;
	font-weight: bold;
	color: #00bf00;
	font-size: 18px;
	float: left;
	position: relative;
	top: -12px;
	left: -41px;
}

.tutorial_next_stage {
	float: right;
}

.tutorial_step {
	margin-bottom: 10px;
}

.tutorial_step_stepnum {
	float: left;
	margin-right: 20px;
	background: transparent url(/themes/vibio/images/new_user/numerical_bg.png) no-repeat 0 0;
	font-weight: bold;
	font-size: 18px;
	color: white;
	padding: 10px 0 0 18px;
	height: 36px;
	width: 28px;
}

.step_content {
	float: left;
}

.tutorial_step_stepnum.unavailable {
	background-image: url(/themes/vibio/images/new_user/numerical_bg_gray.png);
	color: #aaaaaa;
}

.tutorial_step_header {
	font-size: 18px;
	color: #4a535a;
	float: left;
	margin-bottom: 10px;
}

.tutorial_stage_title {
	font-size: 24px;
	color: #00345a;
}

.tutorial_stage {
	display: none;
}

#newuser_tutorial > div.tutorial_stage:first-child {
	display: block;
}

#newuser_tutorial_header {
	padding: 10px;
	background: #dbf0fb;
	border-radius: 8px;
	-moz-border-radius: 8px;
	margin-left: 3px;
}

#newuser_header_header {
	font-size: 18px;
	color: #939393;
}

#newuser_tutorial_header .stage_header {
	float: left;
	background: transparent url(/themes/vibio/images/new_user/arrow_notDone.png) no-repeat 0 0;
	height: 47px;
	width: 156px;
	font-weight: bold;
	font-size: 14px;
	color: #4d4d4d;
	position: relative;
	margin-left: -35px;
}

#newuser_tutorial_header .stage_header.stage_current_stage {
	background-image: url(/themes/vibio/images/new_user/arrow_presentStep.png);
	color: white;
}

#newuser_tutorial_header .stage_header.stage_complete {
	background-image: url(/themes/vibio/images/new_user/arrow_Completed.png);
	color: #6f6f6f;
}

#newuser_tutorial_header .stage_header.stage_first {
	margin-left: 0;
}

#newuser_tutorial_header .stage_header .stage_header_text {
	position: relative;
	top: 13px;
	left: 40px;
}

#newuser_tutorial_header .stage_header.stage_first .stage_header_text {
	left: 20px;
}

#edit-item-search-wrapper {
	margin-left: 50px;
}

#edit-item-search {
	background: transparent url(/themes/vibio/images/new_user/mag_glass.png) no-repeat 3px 3px;
	border: 3px solid #c6c6c6;
	border-radius: 8px;
	-moz-border-radius: 8px;
	width: 460px;
	max-width: 460px !important;
	height: 29px;
	line-height: 29px;
	padding-left: 35px;
	color: #77848d;
	font-weight: bold;
}

#vibio_dialog form #edit-item-search-wrapper .description {
	color: #c5c5c5;
	margin-left: 0;
	text-align: center;
	margin-top: 5px;
}

#vibio-item-newuser-search .form-submit {
	background: transparent;
	border: none;
	font-size: 18px;
	color: white;
}