.privacy_header {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 15px;
}

.privacy_message {
	margin: 30px 0 0 100px;
	padding: 75px 0 0 265px;
	background: transparent url(/themes/vibio/images/collections/collections.png) no-repeat 0 0;
	height: 213px;
}